#stars-bg {
  z-index: 0;
  margin-top: -1vh;

}

.section-1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.section-1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  background: linear-gradient(to top, #000000, transparent);
  z-index: 10;
}

.section-1 img {
  position: absolute;
  top: 21vh;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.section-1 #planet {
  position: absolute;
  color: var(--primary);
  font-size: 10vw;
  text-align: center;
  line-height: 0.55em;
  font-family: "Rancho", cursive;
  transform: translatey(-50%);
}

.section-1 #planet span {
  font-size: 0.2em;
  letter-spacing: 2px;
  font-weight: 400;
}

#spaceship {
  width: 11vh;
  height: 11vh;
  margin-top: 63vh;
  margin-left: 50vw;
  transform: rotate(47deg);
}

#planet {
  top: 50%;
  width: 84vh;
  height: fit-content;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.sec {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  margin-top: -4vh;
  padding: 0;
  overflow: hidden;
}

.sec::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/textures/noise-light.png");
  background-repeat: repeat;
  background-blend-mode: multiply;
}

@media (max-width: 765px) {
  #planet {
    width: 41vh;
  }

  #spaceship {
    margin-left: 7vh;
  }
}

.section-1 #planet {
  transform: translatey(10%);
}

.section-wrapper {
  overflow: scroll;
}

.section-overflow-ctrl {
  overflow-x: hidden;
}

.marquee {
  width: 100;
  overflow: hidden;
  margin-top: 14vh;
  position: absolute;
  margin-top: 34vh;
  bottom: 25vh;
  z-index: 1;
}

.marquee-content {
  display: flex;
  list-style: none;
  animation: scrolling 20s linear infinite;
  gap: 2vh;
}

.marquee-item {
  width: 43vh;
  height: fit-content;
  flex-shrink: 0;
}

.marquee-image {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  border-radius: 3vh;
  filter: brightness(0.8);
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translatex(-2000px);
  }
}

.about-text {
  margin: 4vh 13vh;
  font-family: "chakrapetch";
  font-size: 3vh;
  color: #fff;
  line-height: 6vh;
  align-self: center;
  width: 115vh;
  min-width: 488px;
}

#about-text-1 {
  margin-left: 18vh;
}

.about-head {
  margin: 4vh 17.5vh;
  font-family: "venusrising";
  font-size: 5vh;
  color: #fff;
  padding-top: 9vh;
}

.about-section {
  display: flex;
  margin-top: 8vh;
}

.blackhole {
  width: 30vh;
  height: fit-content;
  margin-left: 10vh;
}

#blackhole2 {
  margin-right: 10vh;
  margin-left: -7vh;
  width: 40vh;
  transform: rotate(14deg);
}

#revolving-venus {
  width: 44vh;
  height: fit-content;
  position: absolute;
  right: -4vh;
  filter: brightness(0.5);
  margin-top: -7vh;
  animation: rotate 10s linear infinite;
  z-index: 1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.stat-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 135vh;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  position: absolute;
  bottom: 86vh;
  left: 0;
  right: 0;
  z-index: 1;
}

.stat-box {
  background-color: #976b1a;
  width: 20vh;
  height: 17vh;
  font-family: chakrapetch;
  border-radius: 1vh;
  border: 0.2vh dotted #fff;
}

.stat-figure,
.stat-figure-1 {
  text-align: center;
  margin-top: 2.5vh;
  font-size: 5vh;
}

.stat-title,
.stat-title-1 {
  text-align: center;
  margin-top: -2vh;
  font-size: 2.7vh;
}

.stat-title-1 {
  margin-top: -3vh;
}

#purple-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.about-text-2 {
  margin-top: 0vh;
}

.sec::after {
  background-size: 17vh;
}

.about-section {
  display: grid;
  margin-top: 8vh;
  grid-template-columns: repeat(2, 1fr);
}

#blackhole3 {
  display: none;
}

@media (max-width: 765px) {
  .about-section {
    display: grid;
    margin-top: 8vh;
    grid-template-columns: repeat(1, 1fr);
    margin-top: -3vh;
  }

  .stat-wrapper {
    grid-template-columns: repeat(1, 1fr);
    width: 20vh;
    gap: 4vh;
    bottom: 40vh;
    margin-bottom: -58rem;
    margin-top: 17rem;
    position: sticky;
  }

  .stat-title,
  .stat-title-1 {
    text-align: center;
    margin-top: -4vw;
    font-size: 4.7vw;
  }

  .stat-box {
    background-color: #976b1a;
    width: 35vw;
    height: 30vw;
    font-family: chakrapetch;
    border-radius: 3vw;
    border: 0.2vh dotted #fff;
  }

  .stat-figure,
  .stat-figure-1 {
    text-align: center;
    margin-top: 4.5vw;
    font-size: 9vw;
  }

  .marquee {
    bottom: 3vh;
    margin-left: -40vh;
  }

  #purple-bg {
    width: 214vw;
    height: 309vw;
    margin-left: -110vw;
  }

  #revolving-venus {
    width: 39vh;
    height: fit-content;
    position: absolute;
    right: -13vh;
    filter: brightness(0.5);
    animation: rotate 10s linear infinite;
    margin-top: 44vh;
  }

  .about-head {
    margin: 0vh 7.5vh;
    font-family: "venusrising";
    font-size: 4.5vh;
    color: #fff;
    padding-top: 16vh;
    padding-bottom: 9vh;
    margin-left: 3vh;
  }

  #about-text-1 {
    margin-left: 3vh;
    text-align: start;
    margin-top: 13vh;
    padding-bottom: 17vh;
  }

  .about-text {
    width: 93%;
    min-width: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: end;
    line-height: 4.5vh;
    font-size: 2.5vh;
    font-family: "chakrapetch";
    margin: 3vh 1vh;
  }

  #blackhole2 {
    margin-right: auto;
    margin-left: auto;
    margin-top: -15vh;
  }

  #blackhole1 {
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  #blackhole3 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10vh;
  }
}

.gradient-wrapper {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
