body {
    color: #fff;
    background-attachment: fixed;
    background-color: #030303;
  }


  h1 {
    font-family: poppins;
    font-weight: 100;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  h3 {
    font-family: poppins, monospace;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
  }

  .detail-container {
    display: flex;
    width: 100vw;
    justify-content: center;
    column-gap: 7vw;
  }


  .input-container {
    width: 33vw;
    min-width: 19rem;
    height: 3rem;
    background-color: #3d3d3e;
    border-style: dotted;
    border-radius: 4rem;
    color: #b9b4c0;
    text-align: center;
    font-size: medium;
    font-family: poppins;
    margin-bottom: 2rem;
  }

  .input-container:focus {
    outline: 4px double;
    outline-color: #909090;
  }

  ::placeholder {
    color: #b9b4c0;
    opacity: .5;
  }

  #cres-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 77vh;
    margin-top: 0vh;
  }


  .file-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }

  .file-button:hover {
    background-color: #45a049;
  }


  .custom-file-button {
    background-color: #635c6f;
    padding: 0.8rem 5rem;
    border-radius: 1rem;
    min-width: 19rem;
    font-family: poppins;
  }

  #img-upload-head {
    margin-bottom: 2rem;
  }

  .parent-container {
    padding-bottom: 0rem;
    padding-top: 12vw;
  }

  .input-cont {
    margin-top: 5rem;
    text-align: center;
  }

  .retro-cd {
    position: absolute;
    width: 24vw;
    right: 0;
    margin-right: -5vw;
    animation: rotate 10s linear infinite;
    z-index: 1;
  }


  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }


  .pink-gradient {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .copyright {
    font-family: poppins;
    font-size: 1vw;
    opacity: .5;
    text-align: center;
    font-weight: 200;
    margin-top: -13vw;
    padding-bottom: 2.5vw;
    margin-bottom: 0px;
  }

  .parent-wrapper-1 {
    overflow: scroll;
    width: 100vw;
    height: 100vh;
  }

  #prom-icon {
    width: 36vw;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3vw;
    filter: grayscale(1);
  }

  #nav-bar {
    background-color: #3a3a3a4f;
    padding-bottom: 18px;
  }

  .lights {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 150vw;
  }

  .hand-graphic {
    position: absolute;
    margin-top: -30vw;
    width: 11vw;
    filter: brightness(0.5);
  }

  .purple-planet {
    position: absolute;
    width: 18vw;
    top: 20vw;
    right: 0;
    z-index: -1;
    filter: sepia(1) brightness(0.3);
    margin-right: -4rem;
    transform: rotate(345deg);
    transform: rotate(3deg);
  }

  #submit-btn {
    background-color: #593246;
    color: white;
    border-style: none;
  }

  #submit-btn:hover {
    background-color: #ffffff;
    color: black;
  }

  @media (max-width:765px) {


    #promForm {
      padding-bottom: 6rem;
    }

    .purple-planet {
      /* display: none; */
    }



    .hand-graphic {
      position: absolute;
      margin-top: -37vw;
      width: 30vw;
      filter: brightness(0.5);
    }

    .lights {
      position: absolute;
      top: 0;
      z-index: -2;
      margin-left: -5rem;
      width: 103rem;
      height: 14rem;
    }


    #nav-bar {
      padding-bottom: 0;
    }

    #cres-logo {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 88vw;
      margin-top: 6vw;
    }

    h1 {
      font-family: poppins;
      font-weight: 100;
      text-align: center;
      font-size: 17px;
      margin: 4rem 2rem;
    }

    .form-section {
      width: 47vw;
      text-align: center;
    }

    .input-container {
      width: 43vw;
      min-width: unset;
      height: 2rem;
      background-color: #3d3d3e;
      border-style: dotted;
      border-radius: 4rem;
      color: #b9b4c0;
      text-align: center;
      font-size: small;
      font-family: poppins;
      margin-bottom: 2rem;
    }

    .custom-file-button {
      background-color: #635c6f;
      padding: 8px 20px;
      border-radius: 1rem;
      min-width: 19rem;
      font-family: poppins;
      font-size: small;
    }

    #img-upload-head {
      margin-bottom: 1.6rem;
    }

    .detail-container {
      column-gap: 2vw;
    }

    h3 {
      font-size: medium;
    }

    .retro-cd {
      position: absolute;
      width: 65vw;
      right: 0;
      margin-right: -19vw;
      animation: rotate 10s linear infinite;
      z-index: 1;
      margin-top: -2rem;
    }

    .pink-gradient {
      position: relative;
      width: 126vw;
      height: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .copyright {
      margin-top: -37vw;
      line-height: 4.1vw;
      padding-bottom: 2.5vw;
      margin-bottom: 0px;
      font-family: poppins;
      font-size: 2.8vw;
      opacity: .5;
      text-align: center;
      font-weight: 200;
      margin-left: 5vw;
      margin-right: 5vw;
    }

    .input-cont {
      margin-top: 3rem;
      margin-bottom: 5rem;
      text-align: center;
    }

    #submit-btn {
      width: 94vw;
      height: 10vw;
      background-color: #593246;
      color: white;
    }

    #prom-icon {
      width: 56vw;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-top: 14vw;
      filter: grayscale(1);
    }

    .parent-container {
      padding-bottom: 0rem;
      padding-top: 29vw;
    }

  }

  .parent-wrapper {
    background-image: url(/textures/noise-light.png);
    background-repeat: repeat;
    background-blend-mode: multiply;
    background-size: 5rem;
    display: block;
    overflow: hidden;
    width: 100vw;
    position: relative;
  }