@import url(https://fonts.googleapis.com/css2?family=VT323&display=swap);

/* @font-face {
  font-family: "Chakra Petch";
  src: url(/fonts/ChakraPetch-Bold.woff2) format("truetype");
} */

@font-face {
  font-family: "venusrising";
  src: url("/fonts/venus\ rising\ rg.otf") format("opentype");
}

@font-face {
  font-family: "avapore";
  src: url(/fonts/Avapore.ttf) format("truetype");
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  background-color: #000;
  overflow: hidden;
}

video,
img {
  pointer-events: none;
}

.toggle-nav {
  position: fixed;
  width: 10vh;
  right: 0;
  top: 11.5vh;
  filter: invert(1);
  z-index: 1005;
  pointer-events: auto;
}

#loader-container {
  z-index: 1005;
  position: relative;
}

.disclaimer-container {
  width: 75vw;
  height: 75vh;
  background-color: #414141;
  position: absolute;
  left: 0;
  right: 0;
  top: 12vh;
  bottom: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 13vw;
}

.disclaimer-head {
  height: 13vh;
  background-color: #1e2c47;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disclaimer-head-txt {
  color: #ad2d2d;
  font-family: monospace;
  text-align: center;
  font-size: 7vh;
  margin: 0;
  height: fit-content;
}

.disclaimer-body {
  height: 62vh;
  background-color: #000;
  border-top: 1px solid #fff;
}

.disclaimer-body-text {
  font-family: monospace;
  margin: 0vh 6vh 0vh 6vh;
  padding-top: 9vh;
  font-size: 1.3vw;
  text-align: center;
  color: #a6acac;
  line-height: 6vh;
}

@media (max-width: 765px) {
  .disclaimer-container {
    width: 90vw;
    height: 116vw;
    margin-left: 5vw;
  }

  .disclaimer-head {
    height: 15vw;
  }

  .disclaimer-head-txt {
    font-size: 8vw;
  }

  .disclaimer-body {
    height: 101vw;
  }

  .disclaimer-body-text {
    line-height: 7vw;
    font-size: 3.5vw;
    padding-top: 4vw;
    margin: 0vh 4vw 0vw 4vw;
  }
}

.message-box-left-1,
.message-box-left-2,
.message-box-right-1 {
  width: 51vh !important;
  font-family: monospace;
  position: relative;
  margin-top: 6%;
}

.message-box-left-1,
.message-box-left-2 {
  left: 25%;
}

.message-box-right-1 {
  right: -48%;
}

.message-headbox {
  height: 6vh;
  color: #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  background: rgb(72 123 171 / 65%);
  backdrop-filter: blur(10px);
}

.message-headtxt {
  padding: 1vh 2vh;
  font-weight: 100;
  margin-top: 4.5vh;
  font-size: 2vh;
  user-select: none;
}

.translate-icon {
  filter: invert(1);
  width: 2.8vh;
  height: fit-content;
  margin-left: 3.5vh;
  user-select: none;
}

#message-textbox-left-1,
#message-textbox-left-2,
#message-textbox-right {
  background-color: #000;
  color: #fff;
  padding: 3vh 4vh;
  font-size: 2vh;
  line-height: 4vh;
  user-select: none;
  background: rgb(0 0 0 / 81%);
  backdrop-filter: blur(10px);
}

.bottom-right-frame,
.bottom-left-frame,
.top-right-frame,
.top-left-frame {
  width: 3vh;
  position: absolute;
  z-index: 1;
}

.bottom-right-frame {
  transform: rotate(0deg);
  bottom: 0;
  right: 0;
}

.bottom-left-frame {
  transform: rotate(90deg);
  bottom: 0;
  left: 0;
}

.top-right-frame {
  transform: rotate(270deg);
  right: 0;
}

.top-left-frame {
  transform: rotate(180deg);
}

.left-char,
.right-char {
  width: 40vh;
  position: fixed;
  bottom: 0;
  user-select: none;
}

.left-char {
  left: 6%;
}

.right-char {
  right: 70px;
}

.loader-bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.loader-bg-img {
  height: 100% !important;
  object-fit: cover;
  position: relative !important;
  width: 100% !important;
  user-select: none;
}

.loader-btn {
  position: fixed;
  width: fit-content;
  color: #c9b7b7;
  font-size: 4vh;
  font-family: Chakra Petch;
  background: #000;
  padding: 0.5vh 2vh;
  border: 1vh ridge #685b5b;
  user-select: none;
  cursor: pointer;
  left: 0;
  right: 0;
  bottom: 14vh;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
}

.loader-btn:hover {
  border: 1vh groove #685b5b;
  color: #a3332b;
}

.loader-bg-img {
  display: block;
  filter: sepia(0.5);
}

.loader-bg-img.loaded {
  filter: brightness(0.4) sepia(0.9);
}

.teleport-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1005;
  background-color: #000;
}

.teleport-vid {
  height: 100% !important;
  object-fit: cover;
  position: relative !important;
  width: 100% !important;
  user-select: none;
}

.loading-txt {
  display: block;
  background: #000;
  padding: 2vh 2vh;
  color: #b0b0b0;
  border: 0.2vh solid #b0b0b0;
  border-radius: 0.9vh;
  position: fixed;
  color: #fff;
  font-family: monospace;
  width: 61vh;
  font-size: 3.1vh;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  top: 42vh;
  user-select: none;
  text-wrap: nowrap;
}

.loader-btn {
  display: none;
}

.left-char-con-1,
.right-char-con-1,
.left-char-con-2 {
  display: none;
}

model-viewer {
  width: 100%;
  height: 100vh;
}

.model-background-wrapper {
  display: none;
}

.home-frame {
  position: fixed;
  z-index: 999;
  top: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}

#landing-container {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  position: absolute;
  top: 50vh;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 6vh;
  gap: 12vh;
}

#landing-text-container {
  width: 63vh;
  margin-left: 14vh;
}

#landing-text {
  color: rgb(255, 255, 255);
  font-size: 4vh;
  font-family: venusrising;
  width: 60vh;
  height: 34vh;
  line-height: 6.5vh;
}

.navbtn-stack {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 60vh;
  height: 47vh;
  pointer-events: auto;
  justify-items: center;
  margin-right: 6vh;
  row-gap: 1vh;
}

nav {
  height: 13.5vh;
  position: fixed;
  z-index: 1;
  width: -webkit-fill-available;
  text-align: center;
  background: linear-gradient(
    275deg,
    rgb(255 255 255 / 40%) -135%,
    rgba(0, 0, 0, 1) 50%,
    rgb(255 252 252 / 40%) 219%
  );
}

#nav-bar {
  background: transparent;
  transition: background 0.5s ease;
}

.black-background {
  background-color: #000 !important;
}

#logo {
  width: 77vh;
  margin-top: 0vh;
}

#logo-subtext {
  color: #fff;
  font-family: "avapore";
  font-size: 1.7vh;
  margin-top: -4vh;
  margin-left: -26vh;
  word-spacing: 1vh;
}

.fa-volume-off,
.fa-volume-down,
.fa-arrows-alt,
.fa-compress {
  color: #fff;
  width: 1vh;
  position: fixed;
  z-index: 999;
  bottom: 5vh;
  left: 14vh;
  font-size: 6.5vh;
  pointer-events: auto;
}

.fa-arrows-alt {
  font-size: 4.5vh;
  bottom: 6vh;
  margin-left: 8vh;
}

.compress-btn {
  margin-left: 3.5rem;
  font-size: 36px;
  bottom: 56px;
  display: none;
}

[class*="btn-glitch-"] {
  display: inline-block;
  font-family: "VT323", monospace;
  border: 0.2vh solid #fff;
  color: #fff;
  padding: 1.5vh 2vh;
  line-height: 3.5vh;
  text-transform: uppercase;
  cursor: pointer;
  width: 30vh;
  height: 3.5vh;
  background-color: #262626;
  font-size: 2.9vh;
}

[class*="btn-glitch-"] .text,
[class*="btn-glitch-"] .decoration {
  display: inline-block;
}

[class*="btn-glitch-"] .decoration {
  display: inline-block;
  float: right;
}

[class*="btn-glitch-"]:hover,
[class*="btn-glitch-"]:focus {
  animation-name: glitch;
  animation-duration: 0.2s;
  background-color: yellow;
  color: #000;
  border: 1px solid yellow;
}

[class*="btn-glitch-"]:hover .text-decoration,
[class*="btn-glitch-"]:focus .text-decoration {
  animation-name: blink;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
}

[class*="btn-glitch-"]:hover .decoration,
[class*="btn-glitch-"]:focus .decoration {
  animation-name: blink;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
}

[class*="btn-glitch-"]:hover :before,
[class*="btn-glitch-"]:focus :before {
  content: " ";
  width: 15px;
  position: absolute;
  right: 25%;
  bottom: 3px;
  transform: rotate(35deg);
  margin-top: -2px;
}

[class*="btn-glitch-"]:active {
  background: yellow;
  color: rgb(0, 0, 0);
}

[class*="btn-glitch-"]:active .text-decoration {
  animation-name: none;
}

[class*="btn-glitch-"]:active .decoration {
  animation-name: none;
}

[class*="btn-glitch-"]:active :before,
[class*="btn-glitch-"]:active :after {
  display: none;
}

@keyframes glitch {
  25% {
    background-color: red;
    transform: translateX(-10px);
    letter-spacing: 10px;
  }

  35% {
    background-color: green;
    transform: translate(10px);
  }

  59% {
    opacity: 0;
  }

  60% {
    background-color: blue;
    transform: translate(-10px);
    filter: blur(5px);
  }

  100% {
    background-color: yellow;
    blur: 5px;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes shrink {
  100% {
    width: 10%;
  }
}

.slideup {
  position: absolute;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
  text-align: center;
  bottom: -20px;
  height: 78vh;
  z-index: 1000;
}

.slideup.open {
  top: 13.4vh;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.slideup .buttons {
  background: yellow;
  height: 60px;
}

.slideup .buttons button {
  height: 20px;
  margin: 20px 10px;
}

.slideup .content {
  background: transparent;
  height: 100px;
}

.button1.selected {
  color: red;
}

.close-btn-cont {
  display: revert-layer;
  background-color: #000;
  padding: 0vh 0vh;
  margin-bottom: -7vh;
  position: relative;
}

.closeall {
  color: #fff;
  background-color: #000;
  border: 1px solid;
  width: 18vh;
  display: flex;
  justify-content: center;
  padding: 1.5vh 1vh;
  font-family: Chakra Petch;
  border-radius: 8vh;
  gap: 1vh;
  font-size: 2.5vh;
  margin-left: auto;
  margin-right: 11vh;
  margin-top: 1vh;
  position: fixed;
  right: 0;
  z-index: 999;
}

.closeall:hover {
  color: #000;
  background-color: #fff;
}

.past-video-container {
  width: 50vw;
  height: 100vh;
  overflow: hidden;
}

.artist-vid {
  width: 50vw;
  filter: grayscale();
  height: 100vh;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-height: 900px) {
  .slideup .buttons {
    background: green;
  }

  .bottom-spacer {
    height: 160px;
  }

  .slideup {
    bottom: 0;
  }

  .canvas {
    height: calc(100vh - 220px);
  }
}

.about,
.events,
.sponsers,
.past,
.contact {
  display: none;
  height: 100vh;
  background-color: #262626;
  color: #fff;
}

.artist-img {
  width: 50vw;
}

#artist-txt-desktop {
  display: block;
}

#artist-txt-mob {
  display: none;
}

.artist-txt {
  color: #fff;
  align-self: center;
  text-align: center;
  font-family: venusrising;
}

.content-container-scroll {
  overflow: scroll;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.past-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: none;
  background-color: #000;
  padding-bottom: 12vh;
}

.event-container {
  background-color: #000;
}

.update-txt {
  color: #fff;
  text-align: center;
  font-size: 4vh;
  font-family: "Chakra Petch";
  margin-top: 27vh;
}

.contact-container {
  text-align: left;
}

.contact-head {
  color: rgb(255, 255, 255);
  margin-top: 8vh;
  font-family: venusrising;
  margin-left: 11.5vw;
  font-size: 3vh;
  padding-top: 8.5vh;
  margin-bottom: 2vh;
}

.contact-text,
.contact-text-2 {
  color: #fff;
  font-family: "Chakra Petch";
  font-size: 3vh;
  margin-left: 11vh;
  margin-top: 3vh;
}

.contact-text-2 {
  font-size: 2.3vh;
  margin-top: 0.5vh;
  color: #000;
  font-family: "Chakra Petch";
}

.contact-data {
  width: 32vh;
  height: 6vh;
}

.credit-footer {
  margin-top: 27vh;
  display: revert-layer;
  height: 24vh;
  padding: 2.5vh 0vh;
  background-color: #000000f5;
}

.navbtn-stack-mob {
  display: none;
}

.navbtn-stack {
  display: grid;
}

.navbtn-stack {
  opacity: 0;
  pointer-events: none;
}

#landing-text {
  opacity: 1;
}

.toggle-nav {
  filter: invert(1);
}

#sscbs-model {
  filter: sepia(0.5);
}

.model-video {
  filter: none;
}

.teleport-container {
  opacity: 1;
  transition: opacity 1s ease;
}

.teleport-container.fade-out {
  opacity: 0;
}

.credit-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  font-family: "VT323";
  font-size: 3vh;
  margin-bottom: -5vh;
  word-spacing: 0vh;
  letter-spacing: 0.1vh;
  opacity: 0.9;
  height: 19vh;
  text-align: center;
}

@media (min-width: 765px) {
  .credit-footer {
    background-color: #000000f5;
    margin-bottom: -12vh;
  }
}

.credit-name {
  color: #b0aec7;
  text-decoration: underline;
}

.credit-name:hover {
  color: #0070ff;
  text-decoration: underline;
}

.artist-txt {
  margin-top: -31px;
  margin-bottom: 4px;
  font-family: "Chakra Petch";
  color: #fff;
  padding: 0;
  font-size: 2rem;

}

.popup-container {
  display: block;
  width: 25rem;
  height: min-content;
  background-color: #000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25rem;
  border-radius: 8px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1005;
  transform: translate(0%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  overflow: hidden;
  padding-top: 41px;
}

.artist-txt {
  margin-top: -31px;
  margin-bottom: 4px;
  font-family: "Chakra Petch";
  color: #fff;
  padding: 0;
  font-size: 2rem;
}

.popup-container.open {
  opacity: 1;
  pointer-events: auto;
}

#close-btn-popup {
  margin-left: 22rem;
  margin-top: -29px;
  position: absolute;
  z-index: 9999;
  font-size: 3rem;
  opacity: 1;
  display: block;
  color: #fff;
  font-size: xx-large;
}

.main-website.open {
  filter: brightness(0.2);
  pointer-events: none;
}


.artist-txt-popup {
  margin-top: -22px;
  margin-bottom: 4px;
  font-family: "Chakra Petch";
  color: #fff;
  font-size: 23px;
}

@media (max-width: 765px) {
  #loader-container {
    width: 190px;
  }

  .loading-txt {
    display: block;
    background: #000;
    padding: 4vw 2vw;
    color: #b0b0b0;
    border: 0.2vh solid #b0b0b0;
    border-radius: 1.4vw;
    position: fixed;
    color: #fff;
    font-family: monospace;
    width: 81vw;
    font-size: 4vw;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    top: 77vw;
    user-select: none;
  }

  .loader-container {
    width: 120px;
  }

  .left-char,
  .right-char {
    width: 55vw;
    position: fixed;
    bottom: 5.7rem;
    user-select: none;
  }

  .left-char {
    left: 6%;
  }

  .message-box-left-1,
  .message-box-left-2,
  .message-box-right-1 {
    width: 60vw !important;
    font-family: monospace;
    position: relative;
    top: 11vw;
  }

  .message-box-left-1,
  .message-box-left-2 {
    left: 4rem;
  }

  .bottom-right-frame,
  .bottom-left-frame,
  .top-right-frame,
  .top-left-frame {
    width: 3vw;
    position: absolute;
    z-index: 1;
  }

  .message-headbox {
    height: 9vw;
    color: #fff;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    background: rgb(72 123 171 / 65%);
    backdrop-filter: blur(10px);
  }

  .translate-icon {
    filter: invert(1);
    width: 4.8vw;
    height: fit-content;
    margin-left: 3.5vw;
    user-select: none;
  }

  .message-headtxt {
    padding: 1vw 3vw;
    font-weight: 100;
    margin-top: 7.5vw;
    font-size: 3vw;
    user-select: none;
  }

  #message-textbox-left-1,
  #message-textbox-left-2,
  #message-textbox-right {
    background-color: #000;
    color: #fff;
    padding: 3vw 4vw;
    font-size: 3vw;
    line-height: 6vw;
    user-select: none;
    background: rgb(0 0 0 / 81%);
    backdrop-filter: blur(10px);
  }

  .right-char {
    right: 4vw;
  }

  .message-box-right-1 {
    right: -23%;
  }

  .loader-btn-container {
    position: fixed;
    width: 100vw;
    height: 6rem;
    z-index: 1;
    background-color: #000;
    bottom: 0;
    border-top: 4px groove #685b5b;
    display: none;
  }

  .loader-btn {
    font-size: 1.5rem;
    bottom: auto;
    z-index: 1;
    position: unset;
    width: fit-content;
    color: #c9b7b7;
    font-size: 4vh;
    font-family: Chakra Petch;
    background: #000;
    padding: 0.5vh 2vh;
    border: 1vh ridge #685b5b;
    user-select: none;
    cursor: pointer;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.8rem;
  }

  .fa-volume-off,
  .fa-volume-down,
  .fa-arrows-alt,
  .fa-compress {
    color: #fff;
    width: 1vw;
    position: fixed;
    z-index: 999;
    bottom: 9vw;
    left: 9vw;
    font-size: 9.5vw;
    pointer-events: auto;
  }

  .fa-volume-off,
  .fa-volume-down,
  .fa-arrows-alt,
  .fa-compress {
    color: #fff;
    width: 1vw;
    position: fixed;
    z-index: 999;
    bottom: 9vw;
    left: 9vw;
    font-size: 9.5vw;
    pointer-events: auto;
  }

  .fa-arrows-alt {
    font-size: 6.5vw;
    bottom: 10.3vw;
    margin-left: 11vw;
  }

  #landing-container {
    display: grid;
    width: 100vw;
    justify-content: space-between;
    position: absolute;
    top: 83vw;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 8vw;
    gap: 16.5vw;
  }

  #landing-text {
    color: rgb(255, 255, 255);
    font-size: 4vw;
    font-family: venusrising;
    width: 88vw;
    height: 35vw;
    padding: -1vw 0vw;
    text-align: left;
    position: relative;
    top: -7rem;
    text-align: start;
    line-height: 9vw;
  }

  #landing-text-container {
    width: 63vw;
    margin-left: 7vw;
  }

  #landing-text {
    opacity: 1;
  }

  .navbtn-stack {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100vw;
    height: 68vw;
    pointer-events: auto;
    justify-items: center;
    margin-right: 6vw;
    row-gap: 4vw;
    margin-top: -34vh;
  }

  [class*="btn-glitch-"] {
    display: inline-block;
    font-family: "VT323", monospace;
    border: 0.2vw solid #fff;
    color: #fff;
    padding: 3.5vw 4vw;
    line-height: 3.5vw;
    text-transform: uppercase;
    cursor: pointer;
    width: 45vw;
    height: 3.5vw;
    background-color: #262626;
    font-size: 5vw;
    border-radius: 3px;
  }

  #nav-bar {
    background: transparent;
    transition: background 0.5s ease;
  }

  #logo {
    width: 84vw;
    margin-top: 5.4vw;
  }

  #logo-subtext {
    color: #fff;
    font-family: "avapore";
    font-size: 1.7vw;
    margin-top: -5vw;
    margin-left: -32.5vw;
    word-spacing: 1vw;
  }

  .closeall {
    color: #fff;
    background-color: #000;
    border: 1px solid;
    width: 26vw;
    display: flex;
    justify-content: center;
    padding: 2.5vw 1vw;
    font-family: Chakra Petch;
    border-radius: 8vh;
    gap: 1vh;
    font-size: 4vw;
    margin-left: auto;
    margin-right: 6vw;
    margin-top: 2vh;
    position: fixed;
    right: 0;
    z-index: 999;
  }

  model-viewer {
    display: none;
  }

  .model-background-wrapper {
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 999;
  }

  .model-video {
    height: 100% !important;
    object-fit: cover;
    position: relative !important;
    width: 100% !important;
    user-select: none;
  }

  .update-txt {
    font-size: 3vh;
    margin-top: 36vh;
  }

  .contact-head {
    color: #fff;
    margin-top: 18vh;
    font-family: venusrising;
    margin-left: 9vw;
    font-size: 4.2vw;
  }

  .contact-text,
  .contact-text-2 {
    color: #fff;
    font-family: "Chakra Petch";
    font-size: 4vw;
    margin-left: 9vw;
    margin-top: 3vh;
  }

  .toggle-nav {
    position: fixed;
    width: 11vw;
    right: 0;
    top: 5.5vh;
    filter: invert(1);
    z-index: 1005;
    pointer-events: auto;
    opacity: 0.6;
  }

  .fa-compress {
    font-size: 8.3vw;
  }

  .past-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow: none;
    background-color: #000;
    margin-top: 5rem;
  }

  .past-video-container {
    width: 100vw;
    height: 90vw;
    overflow: hidden;
  }

  .artist-vid {
    width: 100vw;
    filter: grayscale();
    height: 115vw;
    width: 227vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  #artist-txt-desktop {
    display: none;
  }

  #artist-txt-mob {
    display: block;
  }

  .artist-txt {
    color: #fff;
    align-self: center;
    text-align: center;
    font-family: venusrising;
    height: auto;
    margin-top: auto;
    margin-block: auto;
    padding: 45vw 0vh;
  }

  .nav-btn {
    width: 46vw;
    padding: 2.8vw 3vw;
    font-size: 5vw;
    background-color: #000000;
    color: #c1c1c1;
    text-align: center;
    font-family: vt323;
    border: 1px solid #646363;
    border-radius: 0vw;
    z-index: 1005;
    text-align: left;
    border-radius: 5px;
  }

  .nav-btn:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #c0c0c0;
  }

  .navbtn-stack-mob {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 0;
    right: 0;
    gap: 1.4vh;
    margin-top: -7vh;
    opacity: 0;
    pointer-events: none;
  }

  .navbtn-stack {
    display: none;
  }

  .credit-footer {
    font-size: 4.2vw;
  }

  .popup-container {
    display: block;
    width: 16rem;
    height: max-content;
    background-color: #000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90%;
    border-radius: 8px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1005;
    transform: translate(0%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    overflow: hidden;
  }

  .artist-txt-popup {
    margin-top: -22px;
    margin-bottom: 4px;
    font-family: "Chakra Petch";
    color: #fff;
    font-size: 20px;
  }

  .popup-container.open {
    opacity: 1;
    pointer-events: auto;
  }

  #close-btn-popup {
    margin-left: 14rem;
    margin-top: -23px;
    position: absolute;
    z-index: 9999;
    font-size: 3rem;
    opacity: 1;
    display: block;
    color: #fff;
    font-size: 22px;
  }
}

.popup-head {
  color: #fff;
  font-family: poppins;
  padding: 0rem 19px 0.5rem 19px;
  font-weight: 200;
  margin-left: auto;
  margin-right: auto;
}

.popup-vid {
  width: 201px;
  border-radius: 8px;
}

.fa-times {
  font-size: 26px;
  color: #fff;
  margin-top: 10px;
  margin-left: 13rem;
}

.main-website {
  filter: none;
  pointer-events: auto;
}

.main-website.open {
  filter: brightness(0.2);
  pointer-events: none;
}

.sponser-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-left: 8vw;
  margin-right: 8vw;
}

.sponser-logo {
  width: 14vw;
  height: inherit;
  align-self: center;
}

.sponsers-head {
  color: #fff;
  font-family: "venusrising";
  text-align: center;
  margin: 9vh;
}

#t-series {
  width: 9vw;
}

@media (max-width: 1060px) {
  .sponser-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .sponser-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 765px) {
  .sponser-container {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 2vw;
    margin-right: 2vw;
    row-gap: 13vw;
  }

  .sponser-logo {
    width: 19vw;
  }

  .sponsers-head {
    margin: 9vw;
    font-size: 4vw;
  }

  #t-series {
    width: 12vw;
  }
}

.por-container {
  color: #fff;
  width: 230px;
  height: 380px;
  background-color: #49494c61;
  text-align: center;
  font-family: "Chakra Petch";
  border-radius: 11px;
  filter: grayscale(0.8);
}

.por-container:hover {
  filter: none;
}

.por-image-zoom {
  width: 230px;
  height: 230px;
  overflow: hidden;
  border-radius: 11px 11px 0px 0px;
}

.por-image-zoom--colorize img {
  transition: transform 0.4s, filter 0.3s ease-in-out;
  filter: grayscale(100%);
  width: 230px;
}

.por-container:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}

.por-name {
  margin-bottom: -8px;
}

.por-contact {
  display: flex;
  margin: 0px 2.5rem 0px 4rem;
  justify-content: space-around;
  font-size: 21px;
  align-items: center;
}

.por-call {
  background-color: #69696fad;
  padding: 7px 0px 7px 0px;
  margin: 1px 1px;
  width: 143px;
  position: relative;
  margin-top: -3.7rem;
  border-radius: 16px 16px 16px 1px;
  margin-left: 9rem;
}

#phone-icon-mobile {
  display: none;
}

#phone-icon-desktop {
  display: block;
}

#por-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: 0px 9rem;
  gap: 2rem;
  padding-bottom: 30rem;
  padding-top: 8.5rem;
  margin-top: 3rem;
}

.fa-phone-mob {
  display: none;
}

.por-link {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 1280px) {
  #por-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1038px) {
  #por-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 765px) {
  #por-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
    margin: 0px 4rem;
    padding-top: 9.5rem;
  }

  .por-container {
    width: 215px;
    height: 345px;
  }

  .por-name {
    margin-top: 14px;
  }

  .por-role {
    margin: 18px auto 16px auto;
  }

  .por-image-zoom {
    width: 215px;
    height: 215px;
  }

  .por-contact {
    margin: 0px 3rem 0px 3rem;
  }

  .fa-phone-desktop {
    display: none;
  }

  .fa-phone-mob {
    display: block;
  }
}

.por-call {
  display: none;
}

.por-call.show {
  display: block;
}

#contact-back {
  margin-top: 1vh;
}

@media (max-width: 765px) {
  #contact-back {
    margin-top: 8vh;
  }
}

.space-btn {
  position: relative;
  font-family: "Electrolize", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  line-height: 1;
  color: #e4c683;
  margin: 0;
  padding: 1em;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 17vh;
  z-index: 12;
  right: 5rem;
  font-weight: bolder;
}
.space-btn:hover {
  color: #ffd568;
}
.space-btn:focus {
  color: #ffc735;
  outline: none;
}
.space-btn:active {
  color: #ffb902;
}
.space-btn:before,
.space-btn:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
}
.space-btn:before {
  top: 0;
  left: 0;
  box-shadow: inset 1px 1px 0 0 #e4c683;
}
.space-btn:after {
  right: 0;
  bottom: 0;
  box-shadow: inset -1px -1px 0 0 #e4c683;
}

.space-btn:hover:before {
  -webkit-animation: hoverShadowBefore 1s forwards;
  animation: hoverShadowBefore 1s forwards;
}
.space-btn:hover:after {
  -webkit-animation: hoverShadowAfter 1s forwards;
  animation: hoverShadowAfter 1s forwards;
}

@-webkit-keyframes hoverShadowBefore {
  0% {
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
  }
  33% {
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
  }
  66% {
    width: 1px;
    height: 1px;
    top: calc(100% - 1px);
    left: 0;
  }
  100% {
    width: 100%;
    height: 1px;
    top: calc(100% - 1px);
    left: 0;
  }
}

@keyframes hoverShadowBefore {
  0% {
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
  }
  33% {
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
  }
  66% {
    width: 1px;
    height: 1px;
    top: calc(100% - 1px);
    left: 0;
  }
  100% {
    width: 100%;
    height: 1px;
    top: calc(100% - 1px);
    left: 0;
  }
}
@-webkit-keyframes hoverShadowAfter {
  0% {
    width: 100%;
    height: 1px;
  }
  33% {
    width: 1px;
    height: 100%;
    bottom: 0;
    right: 0;
  }
  66% {
    width: 1px;
    height: 1px;
    bottom: calc(100% - 1px);
    right: 0;
  }
  100% {
    width: 100%;
    height: 1px;
    bottom: calc(100% - 1px);
    right: 0;
  }
}
@keyframes hoverShadowAfter {
  0% {
    width: 100%;
    height: 1px;
  }
  33% {
    width: 1px;
    height: 100%;
    bottom: 0;
    right: 0;
  }
  66% {
    width: 1px;
    height: 1px;
    bottom: calc(100% - 1px);
    right: 0;
  }
  100% {
    width: 100%;
    height: 1px;
    bottom: calc(100% - 1px);
    right: 0;
  }
}

@media (max-width: 765px) {
  .space-btn {
    font-family: "Electrolize", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    line-height: 1;
    color: #ffffff;
    padding: 1em;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    right: 25px;
    top: unset;
    left: unset;
    margin: unset;
    bottom: 9.7vw;
  }

  .space-btn:before {
    top: 0;
    left: 0;
    box-shadow: inset 1px 1px 0 0 #fff;
  }
  .space-btn:after {
    right: 0;
    bottom: 0;
    box-shadow: inset -1px -1px 0 0 #fff;
  }

  .space-btn:hover {
    color: #ffffff;
  }
  .space-btn:focus {
    color: #fff;
    outline: none;
  }
  .space-btn:active {
    color: #fff;
  }
}
