@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@font-face {
  font-family: "chakrapetch";
  src: url("chakrapetch/ChakraPetch-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "venusrising";
  src: url("fonts/venus\ rising\ rg.otf") format("opentype");
}

body {
  margin: 0;
  background-color: #000;
  overflow: hidden;
}

model-viewer {
  width: 100%;
  height: 100vh;
}

.home-frame {
  position: fixed;
  z-index: 999;
  top: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}

#landing-container {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  position: absolute;
  top: 50vh;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 6vh;
  gap: 12vh;
}

#landing-text-container {
  width: 63vh;
  margin-left: 14vh;
}

#landing-text {
  color: rgb(255, 255, 255);
  font-size: 4vh;
  font-family: venusrising;
  width: 60vh;
  height: 34vh;
  line-height: 6.5vh;
}

.navbtn-stack {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 60vh;
  height: 47vh;
  pointer-events: auto;
  justify-items: center;
  margin-right: 6vh;
  row-gap: 1vh;
}

nav {
  height: 13.5vh;
  position: fixed;
  z-index: 1;
  width: -webkit-fill-available;
  text-align: center;
  background: linear-gradient(
    275deg,
    rgb(255 255 255 / 40%) -135%,
    rgba(0, 0, 0, 1) 50%,
    rgb(255 252 252 / 40%) 219%
  );
}

#logo {
  width: 51vh;
  margin-top: 2vh;
}

.fa-volume-off,
.fa-volume-down,
.fa-arrows-alt,
.fa-compress {
  color: white;
  width: 1vh;
  position: fixed;
  z-index: 999;
  bottom: 5vh;
  left: 14vh;
  font-size: 6.5vh;
  pointer-events: auto;
}

.fa-arrows-alt {
  font-size: 4.5vh;
  bottom: 6vh;
  margin-left: 8vh;
}

.compress-btn {
  margin-left: 3.5rem;
  font-size: 36px;
  bottom: 47px;
  display: none;
}

[class*="btn-glitch-"] {
  display: inline-block;
  font-family: "VT323", monospace;
  border: 0.2vh solid #fff;
  color: #fff;
  padding: 1.5vh 2vh;
  line-height: 3.5vh;
  text-transform: uppercase;
  cursor: pointer;
  width: 30vh;
  height: 3.5vh;
  background-color: #262626;
  font-size: 2.9vh;
}
[class*="btn-glitch-"] .text,
[class*="btn-glitch-"] .decoration {
  display: inline-block;
}
[class*="btn-glitch-"] .decoration {
  display: inline-block;
  float: right;
}
[class*="btn-glitch-"]:hover,
[class*="btn-glitch-"]:focus {
  animation-name: glitch;
  animation-duration: 0.2s;
  background-color: yellow;
  color: black;
  border: 1px solid yellow;
}
[class*="btn-glitch-"]:hover .text-decoration,
[class*="btn-glitch-"]:focus .text-decoration {
  animation-name: blink;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
}
[class*="btn-glitch-"]:hover .decoration,
[class*="btn-glitch-"]:focus .decoration {
  animation-name: blink;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
}
[class*="btn-glitch-"]:hover :before,
[class*="btn-glitch-"]:focus :before {
  content: " ";
  width: 15px;
  position: absolute;
  right: 25%;
  bottom: 3px;
  transform: rotate(35deg);
  margin-top: -2px;
}

[class*="btn-glitch-"]:active {
  background: none;
  color: yellow;
}
[class*="btn-glitch-"]:active .text-decoration {
  animation-name: none;
}
[class*="btn-glitch-"]:active .decoration {
  animation-name: none;
}
[class*="btn-glitch-"]:active :before,
[class*="btn-glitch-"]:active :after {
  display: none;
}

@keyframes glitch {
  25% {
    background-color: red;
    transform: translateX(-10px);
    letter-spacing: 10px;
  }
  35% {
    background-color: green;
    transform: translate(10px);
  }
  59% {
    opacity: 0;
  }
  60% {
    background-color: blue;
    transform: translate(-10px);
    filter: blur(5px);
  }
  100% {
    background-color: yellow;
    blur: 5px;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes shrink {
  100% {
    width: 10%;
  }
}

/* MIT Licence of buttons used */
/*
   * MIT License
   * 
   * Copyright (c) 2024 Zach  (https://codepen.io/hirodashi/pen/YzGBYBY)
   * 
   * Permission is hereby granted, free of charge, to any person obtaining a copy
   * of this software and associated documentation files (the "Software"), to deal
   * in the Software without restriction, including without limitation the rights
   * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
   * copies of the Software, and to permit persons to whom the Software is
   * furnished to do so, subject to the following conditions:
   * 
   * The above copyright notice and this permission notice shall be included in all
   * copies or substantial portions of the Software.
   * 
   * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
   * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
   * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
   * SOFTWARE.
   */

.slideup {
  position: absolute;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
  text-align: center;
  bottom: 0;
  height: 78vh;
  z-index: 1000;
}
.slideup.open {
  top: 13.4vh;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}
.slideup .buttons {
  background: yellow;
  height: 60px;
}
.slideup .buttons button {
  height: 20px;
  margin: 20px 10px;
}
.slideup .content {
  background: yellow;
  height: 100px;
}
.button1.selected {
  color: red;
}
.closeall {
  position: absolute;
  right: 20px;
}

@media screen and (min-height: 900px) {
  .slideup .buttons {
    background: green;
  }
  .bottom-spacer {
    height: 160px;
  }
  .slideup {
    bottom: 0;
  }
  .canvas {
    height: calc(100vh - 220px);
  }
  .closeall {
    display: none;
  }
}
.about,
.events,
.sponsers,
.past,
.contact {
  display: none;
  height: 100vh;
  background-color: #262626;
  color: #fff;
}

.closeall {
  margin-left: auto;
  margin-right: auto;
  left: auto;
  position: absolute;
  right: auto;
}
